    # Lab 1 - Data Analysis about Arrythmia
    Denna [Notebook](https://github.com/salgo60/Pandas_DSHI/blob/main/Lab1/DSHI_Lab1_yourname_yourlastname.ipynb)

In [30]:
student_name = "Michel Laji"
student_id = "cl3z"
student_background = "health"

The domain area is Acute myocardial infarction: incidence rate in Scotland 2004-2021, by gender.
The purpose to study the correlation between gender and Myocardial infarction

Number of Datasets: 17
Data format: excel
Headers or describing: 3 
Values separated by: Cells
Do you need to load and analyze all the files: None

Features: 2
Observations: 17

Numerical features: Yes
Number of numerical features: 2
Names of features: Men Women (Gender)
Ordinal or nominal: Nominal

Categorical Features: Yes
Numbers of Categorical Features: 1
Name of the Categorical Features: Characteristics (Year)
Ordinal or Nominal: Ordinal

Binary features: No
Number of Binary Features: None
What binary features could be added: Previous Myocardial Infarction

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [41]:
df = pd.read_csv("Klara.csv")
df.head()

,YEAR,Filename,ORG_TYPE_DESCRIPTION,ORG_CODE,NEW_CODE,ORG_TITLE,SEX_CODE,OBS,DSR,LOWER,UPPER
0,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,M,35915,47.37,46.88,47.87
1,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,F,21690,22.09,21.80,22.39
2,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,P,57605,33.62,33.35,33.90
3,2020,09B_055DR00++,NATIONAL,ENG,E92000001,England,M,33545,47.00,46.49,47.51
4,2020,09B_055DR00++,NATIONAL,ENG,E92000001,England,F,20290,21.94,21.63,22.24

In [42]:
df.shape

(1074, 11)

In [43]:
df.dtypes

YEAR                      int64
Filename                 object
ORG_TYPE_DESCRIPTION     object
ORG_CODE                 object
NEW_CODE                 object
ORG_TITLE                object
SEX_CODE                 object
OBS                       int64
DSR                     float64
LOWER                   float64
UPPER                   float64
dtype: object

In [44]:
columns_to_delete = ["ORG_TYPE_DESCRIPTION"]
df_processed = df.drop(columns_to_delete, axis=1)
df_processed

,YEAR,Filename,ORG_CODE,NEW_CODE,ORG_TITLE,SEX_CODE,OBS,DSR,LOWER,UPPER
0,2020,09B_055DR00++,E&W,K04000001,England and Wales,M,35915,47.37,46.88,47.87
1,2020,09B_055DR00++,E&W,K04000001,England and Wales,F,21690,22.09,21.80,22.39
2,2020,09B_055DR00++,E&W,K04000001,England and Wales,P,57605,33.62,33.35,33.90
3,2020,09B_055DR00++,ENG,E92000001,England,M,33545,47.00,46.49,47.51
4,2020,09B_055DR00++,ENG,E92000001,England,F,20290,21.94,21.63,22.24
...,...,...,...,...,...,...,...,...,...,...
1069,2020,09B_055DR00++,Lon1,E13000001,Inner London,F,590,18.94,17.43,20.54
1070,2020,09B_055DR00++,Lon1,E13000001,Inner London,P,1735,29.71,28.30,31.18
1071,2020,09B_055DR00++,Lon2,E13000002,Outer London,M,2355,43.90,42.12,45.74
1072,2020,09B_055DR00++,Lon2,E13000002,Outer London,F,1440,20.63,19.57,21.73
1073,2020,09B_055DR00++,Lon2,E13000002,Outer London,P,3795,31.20,30.21,32.22

In [45]:
dfRenamed = df.rename(columns={
                          "ORG_TITLE":"Geographic_Location",
                          "SEX_CODE": "SEX",
                        "ORG_TYPE_DESCRIPTION": "Geographic_level", 
                          })
dfRenamed

,YEAR,Filename,Geographic_level,ORG_CODE,NEW_CODE,Geographic_Location,SEX,OBS,DSR,LOWER,UPPER
0,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,M,35915,47.37,46.88,47.87
1,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,F,21690,22.09,21.80,22.39
2,2020,09B_055DR00++,NATIONAL,E&W,K04000001,England and Wales,P,57605,33.62,33.35,33.90
3,2020,09B_055DR00++,NATIONAL,ENG,E92000001,England,M,33545,47.00,46.49,47.51
4,2020,09B_055DR00++,NATIONAL,ENG,E92000001,England,F,20290,21.94,21.63,22.24
...,...,...,...,...,...,...,...,...,...,...,...
1069,2020,09B_055DR00++,LONDON AUTHORITIES (boundaries as of April 2009),Lon1,E13000001,Inner London,F,590,18.94,17.43,20.54
1070,2020,09B_055DR00++,LONDON AUTHORITIES (boundaries as of April 2009),Lon1,E13000001,Inner London,P,1735,29.71,28.30,31.18
1071,2020,09B_055DR00++,LONDON AUTHORITIES (boundaries as of April 2009),Lon2,E13000002,Outer London,M,2355,43.90,42.12,45.74
1072,2020,09B_055DR00++,LONDON AUTHORITIES (boundaries as of April 2009),Lon2,E13000002,Outer London,F,1440,20.63,19.57,21.73
1073,2020,09B_055DR00++,LONDON AUTHORITIES (boundaries as of April 2009),Lon2,E13000002,Outer London,P,3795,31.20,30.21,32.22

In [46]:
dfRenamed.describe()

         YEAR           OBS          DSR        LOWER        UPPER
count  1074.0   1074.000000  1070.000000  1070.000000  1070.000000
mean   2020.0    492.462756    33.527047    27.531000    40.628692
std       0.0   3047.305941    14.041841    12.640997    16.002617
min    2020.0      5.000000     7.010000     3.610000    12.270000
25%    2020.0     55.000000    23.005000    18.110000    28.320000
50%    2020.0    100.000000    31.195000    25.895000    37.530000
75%    2020.0    180.000000    42.212500    35.232500    50.385000
max    2020.0  57605.000000    94.960000    77.430000   115.100000

In [47]:
#df[ ["ORG_TYPE_DESCRIPTION","SEX"] ].describe()

In [49]:
dfRenamed.isnull().sum()

YEAR                   0
Filename               0
Geographic_level       0
ORG_CODE               0
NEW_CODE               0
Geographic_Location    0
SEX                    0
OBS                    0
DSR                    4
LOWER                  4
UPPER                  4
dtype: int64

In [50]:
dfRenamed.dropna(inplace=True)

In [51]:
dfRenamed.isnull().sum()

YEAR                   0
Filename               0
Geographic_level       0
ORG_CODE               0
NEW_CODE               0
Geographic_Location    0
SEX                    0
OBS                    0
DSR                    0
LOWER                  0
UPPER                  0
dtype: int64

Question number 1: Average of for Inner London
Question number 2: Average in Outer London
Question number 3: Average in England

In [55]:
dfRenamed.groupby(by="ORG_CODE").size()

ORG_CODE
00AB    3
00AC    3
00AD    3
00AE    3
00AF    3
       ..
H       3
J       3
K       3
Lon1    3
Lon2    3
Length: 357, dtype: int64

In [56]:
dfRenamed.groupby(by= ["ORG_CODE","DSR","OBS"]).size()

ORG_CODE  DSR    OBS
00AB      30.92  60      1
          47.31  165     1
          67.15  105     1
00AC      18.47  105     1
          25.44  245     1
                        ..
Lon1      29.71  1735    1
          42.28  1140    1
Lon2      20.63  1440    1
          31.20  3795    1
          43.90  2355    1
Length: 1070, dtype: int64

In [57]:
df_2 = pd.DataFrame({'ORG_CODE': ["Lon1", "Lon1", "Lon2", "Lon2", "Lon2"], 'DSR': [29.71, 42.28, 20.63, 31.20, 43.90]})

mean_dsr = df_2.groupby(["ORG_CODE"]).mean()["DSR"]
print(mean_dsr)

ORG_CODE
Lon1    35.995
Lon2    31.910
Name: DSR, dtype: float64

In [58]:
#Question1
mean_dsr_lon1 = round(df_2[df_2["ORG_CODE"] == "Lon1"].mean()["DSR"], 2)
print(f'Average of for Inner London: {mean_dsr_lon1}')

Average of for Inner London: 36.0

In [59]:
#Question2
mean_dsr_lon2 = round(df_2[df_2["ORG_CODE"] == "Lon2"].mean()["DSR"], 2)
print(f'Average of for Outer London: {mean_dsr_lon2}')

Average of for Outer London: 31.91

In [60]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ORG_CODE  5 non-null      object
 1   DSR       5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

In [62]:
dfRenamed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 0 to 1073
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 1070 non-null   int64
 1   Filename             1070 non-null   object
 2   Geographic_level     1070 non-null   object
 3   ORG_CODE             1070 non-null   object
 4   NEW_CODE             1070 non-null   object
 5   Geographic_Location  1070 non-null   object
 6   SEX                  1070 non-null   object
 7   OBS                  1070 non-null   int64
 8   DSR                  1070 non-null   float64
 9   LOWER                1070 non-null   float64
 10  UPPER                1070 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 100.3+ KB

In [64]:
#Question3
median_obs = round(dfRenamed[dfRenamed["ORG_CODE"] == "Lon2"]["OBS"].median())

In [65]:
median_obs

2355